<div class="content">
  <p>Hi there! </p>
  <p>We're still digging for the perfect way to display this content. </p>
  <p>Please check back soon.</p>
  <%= button_to "Sign Out", session_url, method: :delete %>
</div>

<script>
  $(document).ready(function(){
    Diggable.initialize();
  });
</script>
