<ul class="nav nav-pills">
  <li><a href="javascript:void(0)">For Sale</a></li>
  <li><a href="javascript:void(0)">For Rent</a></li>
  <li class="pull-right"><%= link_to "Sign Out", session_url, method: :delete %></li>
</ul>

<div class="container">
  <p>Hi there! </p>
  <p>We're still digging for the perfect way to display this content. </p>
  <p>Please check back soon.</p>
</div>
