
<ul class="nav nav-pills">
  <li><a href="#">For Sale</a></li>
  <li><a href="#">For Rent</a></li>
  <li><a href="#">Sign Out</a></li>

</ul>

<%= button_to "Sign out", session_url, method: :delete %>

<div class="container">
  <p>Hi there! </p>
  <p>We're still digging for the perfect way to display this content. </p>
  <p>Please check back soon.</p>
</div>
