<div class="new-session">
  <h3>Welcome to Diggable</h3>

  <div class="options">
    <div class="sign-in-option">
      <strong>Sign In</strong>
    </div>

    <div class="sign_up_option">
      Sign Up
    </div>
  </div>

  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="text" name="user[username]" placeholder="username"><br>

    <input type="password" name="user[password]" placeholder="password"><br>

    <input type="submit" value="Sign In">
  </form>

  <div> Sign in as a Guest </div>
</div>
