<style>
  body {
    background-image: url(<%= image_path "lux_dog_house_2.jpg" %>);
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="new-user">
  <div class="form-header">Welcome to Diggable</div>

  <ul class="list-inline">
    <li><a class="form-nav" href="/session/new">Sign In</a></li>
    <li><a class="form-nav" href="javascript:void(0)"><strong>Sign Up</strong></a></li>
  </ul>

  <hr class="form">

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" class="form-control" name="user[username]" placeholder="username"><br>
    <input type="password" class="form-control" name="user[password]" placeholder="password"><br>
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
  </form>

  <hr class="form">

  <button type="button" class="btn btn-primary btn-block">Sign in as a Guest</button>
</div>
