// lots of selectors to overwrite application.scss .content > div { width: 100% }
.content div.listing-details {
  z-index: 0;
  box-shadow: 0px 0px 5px #333333;
  width: 350px;
  height: calc(100% - 40px);
  background: rgba(255, 255, 255, 0.95);
  overflow: scroll;
  position: absolute;
  left: calc(100% - 700px);
  padding: 15px;
  transition: left 0.5s ease;
}

.content div.listing-details.out-of-sight{
  left: calc(100% - 350px);
  box-shadow: none;
}

.listing-details > .hide-details {
  border: 1px solid gray;
  width: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.listing-details > .hide-details:hover {
  background-color: #F5F5F5;
}

.listing-details > .street {
  font-size: 36px;
  font-weight: 300;
}

.listing-details > .city-state-zip {
  font-size: 28px;
  font-weight: 300;
}

.listing-details > .listing-type {
  font-size: 15px;
  font-weight: bold;
}

.listing-details > .price {
  font-size: 28px;
  font-weight: 350;
}

.listing-details > .description {
  font-size: 15px;
}
