form.location > input[type="submit"], button.current-price-range {
  background-color: #E8F4FF;
  font-weight: bold;
  border: none;
  padding: 1px 15px;
  font-size: 14px;
}

input.city-state-zip {
  border: none;
  padding: 1px 15px;
  font-size: 14px;
  width: 190px;
}

.search-bar {
  height: 50px;
  width: calc(100% - 50px);
  left: 50px;
  background-color: #E8F4FF;
}

.search-bar .logo {
  position: relative;
  z-index: 10;
  height: 68px;
}

.search-bar div.logo-holder {
  float: left;
}

.search-bar form.location, .search-bar div.price-container {
  float: left;
  border-right: 2px solid white;
}

.search-bar input{
  float: left;
}

.search-bar input, .current-price-range{
  height: 50px;
}

.search-bar form.price {
  position: absolute;
  top: 50px;
  z-index: 5;
  background-color: white;
  margin-top: 0px;
  padding: 10px;
  width: 240px;
}

.search-bar form.price > input {
  width: 92px;
  text-align: center;
  height: 32px;
  padding: 2px;
}

.search-bar form.price > div.dash {
  float: left;
  padding: 8px;
  font-weight: bold;
  font-color: gray;
  font-size: 14px;
}

.search-bar form.price.out-of-sight {
  display: none;
}
