form.location > input[type="submit"], button.price-range-button, button.listing-type-button {
  background-color: #E8F4FF;
  font-weight: bold;
  border: none;
  padding: 1px 15px;
  font-size: 14px;
  outline: none;
}

input.city-state-zip {
  border: none;
  padding: 1px 15px;
  font-size: 14px;
  width: 190px;
}

.search-bar {
  height: 50px;
  width: calc(100% - 50px);
  left: 50px;
  background-color: #E8F4FF;
}

.search-bar .logo {
  position: relative;
  z-index: 10;
  height: 68px;
}

.search-bar div.logo-holder {
  float: left;
}

.search-bar form.location, .search-bar div.price-container, .search-bar div.listing-type-container {
  float: left;
  border-right: 2px solid white;
}

.search-bar input{
  float: left;
}

.search-bar input:not([type="checkbox"]), .price-range-button, .listing-type-button{
  height: 50px;
}

.search-bar form.price, .search-bar form.listing-type {
  position: absolute;
  top: 50px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
  padding: 10px;
}

.search-bar form.price {
  width: 230px;
}

.search-bar form.listing-type input[type="checkbox"]{
  margin-right: 8px;
  margin-top: 3px;
  height: 14px;
  width: 14px;
}

.search-bar form.listing-type {
  width: 160px;
}

.search-bar form.price > input {
  width: 92px;
  text-align: center;
  height: 32px;
  padding: 2px;
}

.search-bar form.price > div.dash {
  float: left;
  padding: 8px;
  font-weight: bold;
  font-color: gray;
  font-size: 14px;
}

.search-bar form.out-of-sight{
  display: none;
}

.current-price-range {
  display: inline-block;
}

.down-arrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("/images/down-arrow-black.png");
}

.down-arrow.blue {
  background: url("/images/down-arrow-blue.png");
}

.up-arrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("/images/up-arrow-black.png");
}

.up-arrow.blue {
  background: url("/images/up-arrow-blue.png");
}
