<div class="logo-holder">
  <img class="logo" src="<%= Diggable.logoUrl %>" alt="Diggable logo" />
</div>

<form class="location">
  <input class="city-state-zip" type="text" placeholder="City, State, Zip">
  <input type="submit" value="Search">
</form>

<div class="price-container">
  <button class="current-price-range">Any Price</button>
  <form class="price out-of-sight">
    <input type="text" class="min-price" placeholder="Min Price">
    <div class="dash">-</div>
    <input type="text" class="max-price" placeholder="Max Price">
  </form>
</div>
