<div class="search-bar">

  <form class="sign-out" method="post" action="http://localhost:3000/session">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign Out">
    <input type="hidden" name="authenticity_token" value="<%= csrfToken %>">
  </form>
</div>
<div class="map"></div>
<div class="listings"></div>
<div class="listing-details out-of-sight"></div>
